{% extends 'applicationMainBundle:Default:maintemplate.html.twig' %}

 {% block title %}
     Requested Resources
 {% endblock  %}
{%  block midPanel %}
<form method="post" action="/approvals">
    <table class="mdl-data-table mdl-js-data-table mdl mdl-shadow--2dp"  align="center">

        <thead>
        <tr>
            <th>Resource ID</th>
            <th>Borrowing Date</th>
            <th>Issue Date</th>
            <th>Return Date</th>
            <th>Status </th>
        </tr>
        </thead>
        {% for x in results %}
            {% var y=0 %}

            <tr >

                <td>{{  x.getResourceId() }}</td>
                <td>{{  x.getItemBorrowingDate() }}</td>
                <td>{{  x.getIssueDate() }}</td>
                <td>{{  x.getReturnDate() }}</td>


                <td>
                <input type="checkbox" name={{ y }} value="checked" /> Approve
                 </td>
                {% y=y+1 %}








            </tr>


        {% endfor %}
        <td><button type="submit" class="button"><span>Submit</span></button></td>



    </table>
</form>
    <script>

    </script>

{% endblock %}