{% extends 'applicationMainBundle:Default:maintemplate.html.twig' %}


{%  block midPanel %}

    <table class="mdl-data-table mdl-js-data-table mdl mdl-shadow--2dp"  align="center">
        <thead>
        <tr>
            <th>Request ID</th>
            <th>Student ID</th>
            <th>Date</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>

        {% for x in s %}

            <tr  onclick="updateRequestResource(this)" >
                <td>{{  x.getRequestId() }}</td>
                <td>{{  x.getStudentId() }}</td>
                <td>{{  x.getRequestDate() }}</td>
                <td>Pending</td>

            </tr>


        {% endfor %}
        <script>
            function updateRequestResource(x) {

                alert("Row index is: " + x.rowIndex);



            }
        </script>


    </table>
    <table class="mdl-data-table mdl-js-data-table mdl mdl-shadow--2dp"  align="center">
        <thead>
        <tr>
            <th>Resource ID</th>
            <th>Borrowing Date</th>
            <th>Issue Date</th>
            <th>Return Date</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>

        {% for x in i %}

            <tr  onclick="updateRequestResource(this)" >
                <td>{{  x.getResourceId }}</td>
                <td>{{  x.getItemBorrowingDate() }}</td>
                <td>{{  x.getIssueDate() }}</td>
                <td>{{  x.getReturnDate() }}</td>
                <td>{{  x.getStatus() }}</td>
                <td>Pending</td>

            </tr>


        {% endfor %}
        <script>
            function updateRequestResource(x) {

                alert("Row index is: " + x.rowIndex);



            }
        </script>


    </table>


{% endblock %}