{% extends 'applicationMainBundle:Default:maintemplate.html.twig' %}
{% block scriptStylePanel %}

    <script type="text/javascript" src="{{ asset('bundles/applicationstudent/js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/applicationstudent/js/javascript.js') }}"></script>

    <script type="javascript">

        jQuery.noConflict();

    </script>

{% endblock %}
 {% block title %}
     Requested Resources
 {% endblock  %}
{%  block midPanel %}


    <table id="resourceTable" class="mdl-data-table mdl-js-data-table mdl mdl-shadow--2dp"  align="center">


        <tr>
            <th>Request ID</th>
            <th>Resource ID</th>
            <th>Borrowing Date</th>
            <th>Issue Date</th>
            <th>Return Date</th>
            <th>Status </th>
        </tr>

        {% for x in results %}


            <tr >
                <td id="requestId">{{ r_id }}</td>
                <td id="resourceId">{{  x.getResourceId() }}</td>
                <td id="ItemBorrowingDate">{{  x.getItemBorrowingDate() }}</td>
                <td id="issueDate">{{  x.getIssueDate() }}</td>
                <td id="returnDate">{{  x.getReturnDate() }}</td>

                <td >
                <select name="equipmentName"   id="{{ x.getResourceId() }}" onmouseup="updateState(this)  ">



                    <option  value="2">Approve</option>
                    <option  value="1">Discard</option>



                </select >
                </td >
                <td class="hidden" id={{x.getResourceId()*-1}} aria-readonly="true">1</td>









            </tr>


        {% endfor %}
        <td> <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                     onclick="submitTable()" style="float: right;height: 30px;width: 120px;">Confirm
            </button></td>



    </table>
    <script>
        function updateState(x){

            document.getElementById(x.id*-1).innerHTML= x.value;
        }
        </script>

    <script>
        function submitTable(){
            var datas = [];
            jQuery.each(jQuery('#resourceTable tr:gt(0)'), function(i,e ) {
                datas.push(jQuery('td', e).map(function(i,e) {


                            return e.innerHTML.valueOf();
                        }).get()
                );
            });



            alert(requestId);
            jQuery.ajax({
                url: "/approvals",
                type: "GET",

                data: {"resourceTable":datas},
                success: function (data) {

                    if(data['status']==true){
                        alert("Successfully added the request");
                    }else{
                        alert("Unable to add request");
                    }



                }
            });




        }

    </script>

{% endblock %}