{% extends 'applicationMainBundle:Default:maintemplate.html.twig' %}

{% block scriptStylePanel %}


    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/applicationstudent/css/studentStyle.css') }}"/>
    <script type="text/javascript" src="{{ asset('bundles/applicationstudent/js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/applicationstudent/js/javascript.js') }}"></script>

    <script type="javascript">

        jQuery.noConflict();


    </script>


{% endblock %}

{% block midPanel %}
    <div class="container" style="max-width: 40%;">

        <h1>Add Sports involving details of students</h1>
        <table class="form" id="table1">
            <tr>

                <th><label for="id" class="control-label"><strong>Student ID:</strong></label><i class="bar"></i></th>
                <td><input class="inp-text" name="student_id" id="studentID" type="text" size="30"
                           onkeypress="getStudentDetails(event)" title="Press enter to load details"/></td>

            </tr>

            <tr>
                <th><label for="name"><strong>Name:</strong></label></th>
                <td><input class="inp-text" name="name" id="name" type="text" size="30"/></td>
            </tr>

            <tr>
                <th><label for="batch"><strong>Batch:</strong></label></th>
                <td><input class="inp-text" name="batch" id="batch" type="text" size="30"/></td>
            </tr>

            <tr>
                <th><label for="faculty"><strong>Faculty:</strong></label></th>
                <td><input class="inp-text" name="faculty" id="faculty" type="text" size="30"/></td>
            </tr>

            <tr>
                <th><label for="batch"><strong>Sport:</strong></label></th>
                <td>
                    <select name="sport" id="sportID">
                        <% {% for x in sportList %}
                        <option value="cricket">{{ x.getName() }}</option>
                        {% endfor %}%>
                    </select>

                </td>
            </tr>

            <tr>
                <th><label for="role"><strong>Role:</strong></label></th>
                <td>
                    <select name="role" id="role">
                        <option value="cricket">Captain</option>
                        <option value="VCaptain">V-Captain</option>
                        <option value="player">Player</option>
                        <option value="other">Other</option>

                    </select>
                </td>
            </tr>

            <tr>
                <th><label for="faculty"><strong>Active:</strong></label></th>
                <td>
                    <label><input type="checkbox" name="statusCheckBox" style="width:30px;" id="statusCheckBox"
                                  value="active"> currently active</label>
                </td>
            </tr>

            <tr>
                <td class="submit-button-right" colspan="2">
                    <div class="form-group">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                                onclick="addStudentSportInvolve()" style="float: right;height: 30px;width: 120px;">
                            Confirm request
                        </button>
                    </div>
                </td>
            </tr>

        </table>

    </div>
{% endblock %}

{% block scriptCodeBlock %}
    <script>


        function addStudentSportInvolve() {
            var studentID = $("#studentID").val();

            var sport = $('#sportID :selected').text();
            var role = $('#role :selected').text();
            var sportId;

            var status;
            if ($('#statusCheckBox').prop('checked')) {
                status = 1;
            } else {
                status = 0;
            }


            {% for x in sportList%}
            var foo = '{{ x.getName() }}';
            if (foo == sport) {
                sportId = '{{ x.getSportId() }}';
            }
            {% endfor %}
            //var status= $("#statusCheckBox").val();


            jQuery.ajax({
                url: "/AddStudentSPDControl",
                type: "GET",
                data: {"student_id": studentID, "sportId": sportId, "status": status,"role":role},
                success: function (data) {
//                    if (data['status'] == true) {
//                        alert("Successfully added the request");
//                    } else {
//                        alert("Unable to add request");
//                    }

                    alert("this is working well");

                }
            });



        }

    </script>
{% endblock %}

