{% extends 'applicationMainBundle:Default:maintemplate.html.twig' %}

{% block scriptStylePanel %}

    <script type="text/javascript" src="{{ asset('bundles/applicationstudent/js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/applicationstudent/js/javascript.js') }}"></script>

    <script type="javascript">

        jQuery.noConflict();

    </script>

{% endblock %}

{% block midPanel %}
    <div class="container" style="max-width: 70%;">
        <h1>ADD Student Request</h1>

        <div class="content-grid mdl-grid">

            <div class="mdl-cell mdl-cell--5-col">
                <div class="form-group">

                    <input class="inp-text" name="request_id" id="requestID" type="text" size="30"/>
                    <label for="id" class="control-label"><strong>Request ID:</strong></label><i class="bar"></i>

                </div>

                <div class="form-group">
                    <input class="inp-text" name="student_id" id="studentID" type="text" size="30"/>
                    <label for="id" class="control-label"><strong>Student ID:</strong></label><i class="bar"></i>


                </div>

                <div class="form-group">
                    <label for="id"><strong>Resource Type:</strong></label>

                    <span class="form-group">
<br>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="equipmentRadio">
                            <input type="radio" id="equipmentRadio" class="mdl-radio__button" style="height: 15px;" name="equipment" value="equipment">
                            <span class="mdl-radio__label">Equipment</span>
                        </label>




                        <select name="equipmentList" id="equipmentCombo">
                            <% {% for x in eqList %}
                            <option value="eqItem">{{ x.getEquipmentName() }}</option>
                            {% endfor %}%>
                        </select>
                    </span>
                </div>

                <div class="form-group">
                    <label for="id"><strong></strong></label>

                    <div>

                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="locationRadio">
                            <input type="radio" class="mdl-radio__button" style="height: 15px;" name="equipment" value="equipment"
                                   id="locationRadio">
                            <span class="mdl-radio__label">Location</span>
                        </label>

                        <select name="sport" id="locationCombo">
                            <% {% for x in locationList %}
                            <option value="eqItem">{{ x.getName() }}</option>
                            {% endfor %}%>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="id"><strong>Item Borrowing date</strong></label>
                                    <span><input type="date" name="equipment" value="equipment"
                                                 id="borrowingDate"></span>
                </div>

                <div class="form-group">
                    <label for="id"><strong>Return date</strong></label>
                    <span><input type="date" name="equipment" value="equipment" id="returnDate"></span>

                </div>

                <div class="form-group">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                            onclick="addRequestResource()" style="float: right;height: 30px;width: 100px;">Add
                    </button>
                </div>
            </div>

            <div class="mdl-cell mdl-cell--7-col">
                <table id="resourceItemTable" class="mdl-data-table mdl-js-data-table mdl mdl-shadow--2dp"
                       style="margin-left: 30px;">

                    <tr class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                        <th>Resource ID</th>
                        <th>Resource name</th>
                        <th>Borrowing date</th>
                        <th>Return date</th>
                    </tr>
                </table>
                <div class="form-group">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                            onclick="submitTable()" style="float: right;height: 30px;width: 120px;">Confirm request
                    </button>
                </div>


            </div>
        </div>
    </div>
{% endblock %}

{% block scriptCodeBlock %}
    <script>
        function addRequestResource(item) {
            var equipmentType = $("#equipmentCombo").find('option:selected').text();
            var locationType = $("#locationCombo").find('option:selected').text();
            var islocation = $("#locationRadio").is(':checked');
            if (islocation) {
                equipmentType = locationType;
            }

            var borrowingDate = $("#borrowingDate").val();
            var returnDate = $("#returnDate").val();
            var resourceId;
            if (islocation) {
                {% for x in locationList%}
                var foo = '{{ x.getName() }}';
                if (foo == equipmentType) {
                    resourceId = '{{ x.getResourceid() }}';
                    //alert(resourceId);
                }
                {% endfor %}
            } else {
                {% for x in eqList%}
                var foo = '{{ x.getEquipmentName() }}';
                if (foo == equipmentType) {
                    resourceId = '{{ x.getResourceId() }}';
                    //alert(resourceId);
                }
                {% endfor %}
            }
            $("#resourceItemTable tr:last").after('<tr><td>' + resourceId + '<td>' + equipmentType + '</td><td>' + borrowingDate + '</td><td>' + returnDate + '</td>' + '</tr>');


        }
    </script>
{% endblock %}
