<html>
<head>

    <script type="text/javascript" src="{{ asset('bundles/applicationstudent/js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/applicationstudent/js/javascript.js') }}"></script>

    <script type="javascript">

        jQuery.noConflict();


    </script>


    <style type="text/css">

        * {
            margin: 0;
            padding: 0;
        }

        html {
            height: 100%;
            font-size: 62.5%
        }

        body {
            height: 100%;
            background-color: #FFFFFF;
            font: 1.2em Verdana, Arial, Helvetica, sans-serif;
        }

        /* ==================== Form style sheet ==================== */

        table.form {
            margin: 25px 0 0 29px;
            border-collapse: collapse;
        }

        table.form th, table.form td {
            padding: 10px 5px;
            text-align: left;
            font-weight: normal;
        }

        table.form label {
            font-family: Verdana, Arial, Helvetica, sans-serif;
            color: #181818;
            margin-right: 12px;
        }

        table.form td span {
            font-size: 0.9em;
            color: #181818;
            margin-left: 8px;
        }

        table.form td samp {
            font: 1em Verdana, Arial, Helvetica, sans-serif;
            color: #000000;
        }

        table.form input {
            width: 340px;
        }

        table.form input.answer {
            width: 53px;
        }

        table.form textarea {
            width: 400px;
            height: 160px;
        }

        table.form input.inp-text, table.form input.answer, table.form textarea {
            border: 1px solid #909090;
            padding: 2px;
        }

        table.form th.message-up {
            vertical-align: top !important;
        }

        table.form td.submit-button-right {
            text-align: right !important;
        }

        table.form input.submit-text {
            font: 1.4em Georgia, "Times New Roman", Times, serif;
            letter-spacing: 1px;
            width: auto;
        }

        table.form label.email {
            border-bottom: 1px dotted #000000;
        }

        table tr td {
            height: 30px;
            padding: 10px;
        }

        table tr td input {
            height: 20px;
        }

        table tr td input {
            height: 20px;
        }

        table tr td span input {
            height: 20px;
        }

        .addTableRow th {
            width: 200px;
            background-color: #4CAF50;
            color: white;
        }

        table tr:nth-child(even) {
            background-color: #f2f2f2
        }

        /* ==================== Form style sheet END ==================== */

    </style>
</head>
<body>
<span style="float: left;width: 40%;">
<table style="border-right: 1px solid brown">
    <tr>
        <td>
            <table>

                <tr>
                    <th><label for="id"><strong>Request ID:</strong></label></th>
                    <td><input class="inp-text" name="request_id" id="requestID" type="text" size="30"/></td>
                </tr>

                <tr>
                    <th><label for="id"><strong>Student ID:</strong></label></th>
                    <td><input class="inp-text" name="student_id" id="studentID" type="text" size="30"/></td>
                </tr>

                <tr>
                    <td><label for="id"><strong>Resource Type:</strong></label></td>
                    <td>
                        <span><label></label><input type="radio" name="equipment" value="equipment" id="equipmentRadio"
                                                    style="padding-left:5em;width: 15%">Equipment</span>
                        <select name="equipmentList" id="equipmentCombo">
                            <% {% for x in eqList %}
                            <option value="eqItem">{{ x.getEquipmentName() }}</option>
                            {% endfor %}%>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td><label for="id"><strong></strong></label></td>
                    <td><span><input type="radio" name="equipment" value="equipment" id="locationRadio"
                                     style="padding-left:5em;width: 15%">Location</span>
                        <select name="sport"  id="locationCombo">

                        </select>
                    </td>
                </tr>

                <tr>
                    <td><label for="id"><strong>Item Borrowing date</strong></label></td>
                    <td><span><input type="date" name="equipment" value="equipment" id="borrowingDate"></span></td>
                </tr>

                <tr>
                    <td><label for="id"><strong>Return date</strong></label></td>
                    <td><span><input type="date" name="equipment" value="equipment" id="returnDate"></span></td>
                </tr>

                <tr>
                    <td></td>
                    <td>
                        <button onclick="addRequestResource()">Add to request</button>
                    </td>
                </tr>

            </table>
        </td>

    </tr>
</table>
</span>
<span>
    <table id="resourceItemTable">
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr class="addTableRow">
            <th>Resource ID</th>
            <th>Resource name</th>
            <th>Borrowing date</th>
            <th>Return date</th>
        </tr>
    </table>
</span>


</body>
<script>
    function addRequestResource(item) {
        //alert("d");
        var equipmentType=$("#equipmentCombo").find('option:selected').text();
        var locationType=$("#locationCombo").val();

        if($("#locationRadio").is(':checked')){
            equipmentType=locationType;
        }

        var borrowingDate=$("#borrowingDate").val();
        var returnDate=$("#returnDate").val();
        var resourceId;
        {% for x in eqList%}
            var foo = '{{ x.getEquipmentName() }}';
            if(foo==equipmentType){
                resourceId='{{ x.getResourceId() }}';
                //alert(resourceId);
            }
        {% endfor %}

        $("#resourceItemTable tr:last").after('<tr><td>'+resourceId+'</td><td>'+equipmentType+'</td><td>'+borrowingDate+'</td><td>'+returnDate+'</td>'+'</tr>');



    }
</script>

</html>